@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased tracking-tight;
}

/* Code */
pre {
  padding: 0 !important;
}

pre code {
  @apply relative !pt-8;
}

code::after {
  font-size: 12px;
  @apply text-black text-xs font-semibold px-4 py-0.5 rounded-b top-0 absolute left-4;
}

code.language-php::after {
  content: 'PHP';
  @apply bg-blue-300;
}

code.language-json::after {
  content: 'JSON';
  @apply bg-[#FBC02D];
}

code.language-javascript::after {
  content: 'Javascript';
  @apply bg-yellow-300;
}

code.language-typescript::after {
  content: 'TypeScript';
  @apply bg-[#2F74C0] text-white;
}

code.language-txt::after {
  content: 'Text';
  @apply bg-zinc-300;
}

code.language-sql::after {
  content: 'SQL';
  @apply bg-orange-300;
}

code.language-bash::after {
  content: 'BashScript';
  @apply bg-purple-300;
}
